<div class="container">
  <h5>"<%= "Tareas por Realizar #{@todos.count}"%>"</h5>
</div>
<div class="container">
  <div class="row">
	   <% @todos.each_slice(3) do |row| %>
		  <% row.each do |todo|%>
			    <div class="col">
				        <div class="card">
				              <img src= "<%= todo.photo %>" class="card-img-top" alt = "Todo Photo">
					            <div class="body">
                         <h5><%= todo.name %></h5>
                         <% if todo.user_todos.exists? %>
                          <p class="btn btn-secondary">Finalizar</p>
                          <% else %>
                          <p><%= link_to 'Finalizar', todo_user_todo_index_path(todo), class: 'btn btn-primary',
                          method: :post %></p>
                         <% end %>
					            </div>
				        </div>
          </div>
      <% end %>
         <div class="w-100"></div>
     <% end %>
   </div>
</div>
